# Files to ignore
*.txt
*.pyc

# Ignore(for now) sound files
*.wav
*.html

# Ignore movies
*.mp4

# Junk
.DS_Store

# Files to ignore
ElementDownloader.py
envelope.py
retrieving_periodic_table.py
test.py
sound.py
hydrogen2.py
hydrogen1_1.py
hydrogen.py
hydrogen_OLD.py
lyder.py
simple_sound.py
sound_of_elements.py
spectra_downloader.py

# Scratch/testing folder
scratch

# virtual env
venv

# pip junk
.eggs
*egg-info

# Numba junk
*__pycache__*

# Various production folders
converted_sounds_folder
generated_emission_spectras
output_mp4
test-run-*
